<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4" id="profile">
          <div id="profileCard">
              <h1 id="heading" style="font-weight: 400; font-size: 80px;">E-Learning Platform</h1>
              <mat-card-content>
                <div class="bootstrap-wrapper">
                  <div class="container">
            
                    <div class="row">
                      <div class="col-md-10 offset-md-1">
                        
                        <h4 style="font-weight: 200; font-size: 30px; margin-top: 60px;"> A full stack project built using Angular, SpringBoot and MySQL </h4>

                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </div>
      </div>

      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>