#card {
    display: flex;
    align-items: center;
    justify-content: center;
}
#rectangle {

    width: 600px;
    height: 170px;
    margin: 10px;
    /* border: 1px;
    border-style: solid;
    border-color: rgb(15, 15, 15); */

  }