#profileCard {
    width: 300px;
    height: auto;
    margin: 20px;
    margin-left: 40%;
    margin-right: 40%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow:  5px 5px 15px rgba(0,0,0,0.4);
}