<form [formGroup]="profileDetailsForm" (ngSubmit)="submit()" >

    <div>

        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput [formControl]="firstname">
        </mat-form-field>

    </div>

    <div>

        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput [formControl]="lastname">
        </mat-form-field>

    </div>

    <div>

        <mat-form-field appearance="fill">
            <mat-label>About</mat-label>
            <textarea matInput [formControl]="about"></textarea>
        </mat-form-field>

    </div>

    <div>

        <mat-selection-list #shoes [formControl]="interests">
            <mat-list-option *ngFor="let interest of interestsList">
              {{interest}}
            </mat-list-option>
        </mat-selection-list>

    </div>
    
    <div>

        <button mat-raised-button color="primary" type="submit" [disabled]="profileDetailsForm.invalid" >submit</button>

    </div>
   

</form>
