
mat-grid-tile {
    background: rgb(255, 255, 255);
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-card {

    width: 80%;
    height: 210px;
    box-shadow:  5px 5px 15px rgba(0,0,0,0.4);

  }

  #title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: black;
  }