<div style="margin:20px; margin-left: 40%;" *ngIf="classes.length === null || classes.length === 0 ">

  <span style="font-weight: 300; font-size: 20px;"> You have not created any classroom yet </span>    

</div>

<mat-grid-list cols="4" rowHeight="280px">
    <mat-grid-tile *ngFor="let class of classes">

          <mat-card class="example-card">
            <div style="display: block; margin-left: 0px;">
              <a [routerLink]="'/instructor/classroom/' + class.id" style="text-decoration: none;"> <mat-card-title><h1 id="title">{{class.title}}</h1></mat-card-title> </a>
            </div>

            <div>
              <mat-card-subtitle *ngIf="class.students"> <h3 *ngIf="class.students"> {{class.students.length}} students </h3> </mat-card-subtitle>
              <!-- <h3 *ngIf="class.students"> {{class.students.length}} </h3> -->
            </div>

            <mat-card-content>
              <p>{{class.description}}</p>
            </mat-card-content>
          </mat-card>

    </mat-grid-tile>

  </mat-grid-list>