<h1 mat-dialog-title style="margin-left: 10%;">New notice</h1>
<div mat-dialog-content id="form">

    <form [formGroup]="noticeForm" (ngSubmit)="submit()" style="margin-left: 10%; width: 200px;">

      <div>
        <mat-form-field appearance="fill">
          <mat-label >Give your post a title</mat-label>
          <input matInput [formControl]="title">
        </mat-form-field>
      </div>


      <div>
        <mat-form-field appearance="fill">
          <mat-label>Write your message here</mat-label>
          <textarea matInput [formControl]="content" style="height: 100px;"></textarea>
        </mat-form-field>
      </div>
        

          <div>
          <button mat-raised-button color="primary" type="submit" [disabled]="noticeForm.invalid" >POST</button>
          <button mat-button mat-dialog-close>Close</button>
        </div>
        
    
    </form>

</div>
