<mat-toolbar id="toolbar">

    <mat-toolbar-row>
      <span>
        <a routerLink="/home" class="link" style="text-decoration: none; font-size: 20px;">HOME</a>
      </span>
      <span class="example-spacer"></span>
      <div *ngIf="!isLoggedIn">
        <span>
          <button mat-raised-button (click)="openLoginForm()" class="button">Log in</button>
        </span>
        <span>
          <button mat-raised-button (click)="openSignUpForm()" class="button">Sign up</button>
        </span>
      </div>
      <div *ngIf="isLoggedIn">
        <span>
          <button mat-raised-button (click)="logout()" class="button">Log Out</button>
        </span>
      </div>
    </mat-toolbar-row>

  </mat-toolbar>
