<h1 mat-dialog-title>Enrollment Request</h1>
<div mat-dialog-content id="form">

    <form [formGroup]="enrollmentForm" (ngSubmit)="submit()" >

        <div>
        <mat-form-field appearance="fill">
            <mat-label >name</mat-label>
            <input matInput [formControl]="name">
          </mat-form-field>
        </div>
    
        <div>
        <mat-form-field appearance="fill">
            <mat-label>Write your motivation message here</mat-label>
            <textarea matInput [formControl]="motivation" style="height: 100px;"></textarea>
          </mat-form-field>
        </div>

          <div>
          <button mat-raised-button color="primary" type="submit" [disabled]="enrollmentForm.invalid" >submit</button>
          <button mat-button mat-dialog-close>Close</button>
        </div>
    
    </form>

</div>
